


    <%- include("partial/header1") %>
    <div class="searchejs">
    <p>Moviecool</p>
<form  action="/results" method="get" >
 <input type="text" name="search" id="search" placeholder="Write Movie Name....">
 <button   id="button">Click me!!</button>
</div>
</form>
<%- include("partial/footer1") %>

