*{
    overflow-x: hidden;
    margin-top: 10px;
    margin-bottom: 10px;  
    
   
}

.img{
    width: 100%;
    padding: 10px;
    margin: 0px;
    background-color: rgb(0, 0, 20);
}
#movie{
    width: 470px;
    padding: 10px;
    margin-left: 40px;
}

.movie_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#w{
    padding: 20px;
}
p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    opacity: 0.7;
}
.ratings{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.movie-card{
   
    background-color:rgb(0, 0, 10);
    border-radius: 7px;
    height: 800px;
    
    
    box-shadow: 0.7px 9px 11px rgba(0, 0, 0, 0.9);
}

.movie_title{
    text-decoration: white;
 
}
::-webkit-scrollbar {
    display: none;
}
.ratings{
    background-color: azure;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

 .overview{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    opacity: 0.7;
}
/*.movie-card:hover .overview{
    transform:translateY(0);
} */