<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Moviecool App</title>
    <link rel=" shortcut icon" type="image/jpg" href="public\7201_image1.jpg">
    <link rel="stylesheet"  href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    
</head>
<body>
   
